.session-header {
    display: block;
    position: absolute;
    top: 1px;
}

.session {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top right,
     rgba(191, 87, 0, 0.9) 15%,
     rgba(248, 151, 31, 0.9) 60%,
     rgba(255, 214, 0, 0.9) 90%
    );
    height: 100vh;
    justify-content: center;
}

.session-container {
    width: 585px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    line-height: 1.5px;
    display: block;
    flex-shrink: 0;
}

.session-form-title {
    font-size: 32px;
    padding: 50px 30px 30px;
    font-weight: 400;
    text-transform: none;
    color: #151b4e;
    text-align: center;
}

.session-form {
   padding: 0 90px 45px 90px;
}

.session-form > label {
    text-align: left;
    line-height: 18px;
    color: #333f48;
    font-size: 12px;
    font-weight: 500px;
    margin-top: 30px;
    display: block;
}

.session-form > label > input {
    border: 1px solid lightgray;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    height: 40px;
    margin: 7px 0 0 0;
    padding: 0 0 0 10px;
    width: 100%;
}

.session-button {
    margin-top: 30px;
    text-align: right;
}

.session-button > button {
    color: white;
    background: #1aacf5;
    border-color: #1aacf5;
    padding: 10px;
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    font-weight: 350;
    cursor: pointer;
}

.session-button > button:hover {
    background: #127cb0;
    border-radius: #127cb0;

}

.session-errors {
    width: 100%;
}
.session-errors > p {
    margin: 15px 0;
    background: #fbdebb;
    line-height: 3;
    padding: 0 10px;
    font-size: 13px;
}

.session-footer {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    align-items: center;
}

.session-footer p {
    margin: 0 7px;
}

.session-footer button {
    margin: 0 7px;
    background: none;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.session-footer button:hover {
    margin: 0 7px;
    background: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: rgba($color: #28221ddb, $alpha: 1.0);
}

.setup-form-container {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}

.setup-form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.setup-form label > input {
    width: 100%;
    border: 1px solid #d3d3d3bf;
    border-radius: 5px;
    height: 35px;
    margin: 15px 0;
    padding-left: 10px;
}

.setup-form-container h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.setup-form-container p {
    color: #6f7782;
    font-size: 16px;
    margin-bottom: 30px;
}

.setup-form-container button {
    background: #14aaf5;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: 25px 0;
}

.setup-form-container button:hover {
    background: #008ce3;
}



@media screen and (min-height: 585px) {
    .logo {
        height: 60px;
        margin: 0 auto;
    }
}

@media screen and (max-height: 585px) {
    .logo {
        height: 60px;
        margin: 0 auto;
        display: none;
    }
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    align-items: center;
    height: 500px;
    margin: auto;
}

.welcome button {
    background: #14AAF5;
    font-size: 13px;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
}

.welcome button:hover {
    background: rgb(14, 120, 172);
}

.welcome-image {
    height: 150px;
}

.welcome p {
    color: #6f7782;
}

.welcome h2 {
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 20px 0;
}