.team-inner {
    width: 860px;
    margin: 0 auto;
    display: flex;
}

// @media (max-width: 1230px){
//     .team-inner {
//         width: 680px;
//     }   

// } 

.team-overview {
    display: flex;
    position: relative;
    align-items: flex-start;
}

.team-overview:before {
    content: "";
    display: block;
    box-shadow: inset 0 3px 2px 0px rgba(21, 27, 38, 0.08);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.team-left {
    width: 260px;
    margin: 50px 0px 0 55px;
}

.team-right {
    width: 600px;
    margin: 50px 30px 0 53px;
}

.team-description {
    height: 150px;
}

.team-description > h3 {
    font-weight: 500;
    border-bottom: 2px solid #e8ecee;
    padding-bottom: 15px
}

.team-members > h3 {
    font-weight: 500;
    border-bottom: 2px solid #e8ecee;
    padding-bottom: 15px
}

.team-projects > h3 {
    font-weight: 500;
    border-bottom: 2px solid #e8ecee;
    padding-bottom: 15px
}

.description-edit {
    min-height: 50px;
    font-size: 13px;
    padding: 10px 5px 30px 5px;
    max-height: 100%;
}

.description-edit:hover, .description-edit:focus {
    border: 1px solid #cbd4db
}

.member-icon-1 {
    background: blue;
    border: 1px solid blue;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    font-size: 13px;
}

.member-icon-0 {
    background: #f8971f;
    border: 1px solid #f8971f;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    font-size: 13px;
}

.member-icon-2 {
    background: #a6cd57;
    border: 1px solid #a6cd57;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    font-size: 13px;
}

.member-info {
    font-size: 13px;
    display: flex;
    margin-left: 15px;
    justify-content: center;
    flex-direction: column;
}

.member-info > p:last-of-type {
    color: #9ca6af
}

.new-team-title {
    line-height: 32px;
    height: 42px;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    padding: 4px 10px 0px;
}

.new-team-form {
    font-size: 12px;
}


.team-member {
    list-style: none;
    display: flex;
    margin: 20px 0;
}

.team-form-name {
    position: relative;
}

.team-form-name input {
    padding: 10px 5px;
    width: 100%;
    border: 1px solid lightgray;
    outline: none;
    margin: 10px 0;
}